{#login/templates/login/index.html#}
{% extends 'login/base.html' %}
{% block title %}评论页面{% endblock %}
{% block content %}
    {% if request.session.is_login %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
     <style>
    .like{background: white;}
    .cs{color:#f00;background: white;}
        
    html,body,table{
            margin:0;
            height:100%;
        }
    table{
            width:100%;
        }
    #box{
            width:600px;
            height:600px;
            margin:auto;
        }
    </style>
    <script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(function () {            
            $(".like").click(function () {
                $(this).toggleClass('cs');                
            })
        })
        $(function () { 
            $(".cs").click(function () {
                $(this).toggleClass('cs');                
            })
        })
    </script>
</head>
<body>
<table>
        <tr>
            <td>
                <div id="box">

<img src="/media/{{imgs.img_url}}" alt="" style="width: 600px;height: 400px;">

<form action="/add/" method="get" style="padding-left:235px;">
    <input type="hidden" name='username' value={{ imgs.name }}>
    <input type="hidden" name='usrid' value={{ imgs.id }}>
    <button class={{clas}} style="border: none;font-size:20px;cursor:pointer; text-align: center;" type="button" id='dianzan'>&#10084;</button>
    &nbsp<span id='result'>{{number}}</span>
    
</form>
     {% for i in c %}
    <p style="width: 600px;">
    <span>{{i.name}} 说  :{{i.text}}</span> <span style="float: right;">{{i.dataTime}}</span></p >
    {% endfor %}
<form action="text" method="get">
    评论
    <input type="text" id="text" style="width: 500px;">
    <input type="hidden" name='username' value={{ imgs.name }}>
    <input type="hidden" name='userid' value={{ imgs.id }}>
    <input type="hidden" name='a' value={{ request.session.user_name }}>
    <button type="Submit" id="comment">发表</button>
</form>
</div>
            <td>
                <p>{{imgs.name}}</p>
            </td>
            </td>
        </tr>
    </table>
<script src="/static/js/jquery-3.2.1.js"></script>
<script>
    $(document).ready(function(){
      $("#dianzan").click(function(){
        var a ;
        var usrid;
        $.get("/add/",{'a':'{{ request.session.user_name }}',
            'usrid':'{{ imgs.id }}'}, function(ret){
            $('#result').html(ret);
        })
      });
      $("#comment").click(function(){
        var texts = $("#text").val();
        var name;
        var userid;
        $.get("/text/",
            {'texts':texts ,'name':'{{ request.session.user_name }}','usrid':'{{ imgs.id }}'}, 
        function(ret){$('#comments').html(ret);
        })
      });
    });
</script>
    
</body>
</html>



{% endif %}
{% endblock %}